/*
    Header
*/
.header-links {
    gap: 1vw;
}

.header-links a {
    color: white;
    text-decoration: none;
}

.header-links a:hover {
    text-decoration: underline;
}

/*
    First Section
*/
.jumbotron {
    background-color: #1e2935;
    color: white;
    padding: 64px 128px;
    margin-bottom: 3em;
}

.jumbotron .content-wrapper {
    gap: 5em;
}

.jumbotron-image {
    object-fit: cover;
    object-position: 60%;
}

.btn {
    width: fit-content;
    padding: 6px 28px;
    font-weight: 700;
}

.btn-signup {
    background-color: #3681f4;
    color: white;
    border: none;
    border-radius: 8px;
}

.btn-signup:hover {
    background-color: white;
    color: #3681f4;
}

/*
    Second Section
*/
.main-section-wrapper {
    margin-left: 152px;
    margin-right: 152px;
}

.main-section {
    max-width: 60em;
    gap: 4em;
    line-height: 1.5em;
    margin-bottom: 5em;
}

.main-section h1 {
    margin: 0;
}

.main-section-info {
    max-width: 44em;
    text-align: justify;
    gap: 2em;
}

.main-section-info p {
    max-width: 20em;
}

.main-section-box {
    width: 20em;
    height: 10em;
    border: solid 5px #3680f4;
    border-radius: 10px;
}

/*
    Third Section
*/
.jumbotron-light {
    background-color: #e3e4ea;
    color: black;
    font-size: 18px;
    padding: 76px 128px;
    margin-bottom: 3em;
    border: solid 1px #d7d6db;
}

.jumbotron-light-quote {
    max-width: 34em;
}

.jumbotron-light-quote h2 {
    text-shadow: 1px 4px 10px gray;
    margin-bottom: 0;
}

.jumbotron-light-cite {
    width: 100%;
    justify-content: end;
    margin: 0;
}

/*
    Fourth Section
*/
.call-signup-wrapper {
    color: white;
    margin: 5em 12em;
}

.call-signup {
    background-color: #3681f4;
    padding: 2em 6em;
    border-radius: 12px;
    gap: clamp(2em, 4vw, 8em);
}

.call-signup h3 {
    margin: 0;
}

.call-signup button {
    flex-shrink: 0;
    height: fit-content;
    text-wrap: nowrap;
}

.btn-signup.reverse {
    background-color: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 6px;
}

.btn-signup.reverse:hover {
    background-color: white;
    color: #3681f4;
}

/*
    ################ DYNAMIC ################
*/

/*
    Cards
*/

.cardlist {
    gap: 1em;
    padding: 2em;
    justify-content: space-between;
    width: 83em;
}

.postcard {
    background-color: #cccccc;
    border-radius: 5px;
    border: solid 2px #b1b1b1;
    box-sizing: border-box;
    min-width: 6em;
    max-width: 25em;
    width: 24vw;
    flex-grow: 1;
    position: relative;
}

.postcard-header {
    padding: 0 1.5em 0 1.5em;
    border-bottom: solid 1px #b1b1b1;
}

.postcard-body {
    background-color: white;
    height: 100%;
    padding: 0 1.5em 0 1.5em;
}

@media (min-width: 1000px) {
    flex: 0 0 25%;
    max-width: 25%;
}
